<div class="card_pantalla">

	 <nav class="navbar navbar-dark bg-primary">
	  <ul class="nav navbar-nav">
	    <li><a class="nav-link" [routerLink]="['/home']">Home</a></li>	    
	  </ul>	  
	</nav> 

	<div class="container content card-personal">	  
	  <router-outlet></router-outlet>
	</div>
</div>
<div class="card_notificaciones">
	Fecha: {{ time | async }}
</div>
