
.btn-reserva{
	width: 100%;
}
.card-sucursal{
	flex: 1 360px;
	background: #F5EBEA;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	margin: 5px 2px 5px 2px;
	border: 1px solid black;
	border-radius: 5px;
}
.icon{
	color: black;
	margin-right: 5px;
}
.icon-footer{
	color: white;
	margin-right: 5px;
}
p{
	text-align: justify;
}

footer{
	background: #5AB4FF;
	padding: 0px 15px 8px 15px;
}

.card-marco{
	border: 1px solid black;
}
.card-prueba{
	flex: 1 200px;
	background: #F5EBEA;
	display: flex;
	flex-direction: column;
	margin:  7px 7px 7px 7px;

	justify-content: space-between;	
}

.table th, td{
	padding: 0px 40px 0px 40px;
}
.card-img-p{
	border: solid 1px black;
}

.card-img-p img {
	width: 100%;
	height: 250px;
}
.banner {
	width: 100%;
	height: 250px;
	border: solid 1px black;
	background-image: url('/img/marco.png');
	text-align: center;
}

.banner img{
	max-width: 1200px;
	height: 230px;
	margin: 10px 0px 10px 0px;
	width: 100%;	
}
.card-collapse{
	background: #F5EBEA;
	margin-bottom: 15px;
}

.card-collapse:hover {
  background-color: yellow;
  border: solid 3px yellow;
}

.card-collapse-menu {
	border: solid 1px black;
	padding: 15px;
	background: #5AB4FF;;
}
.card-collapse-menu div{
	margin-top: 5px;
}

.card-collapse-opciones{
	margin: 15px 0px 15px 0px;
}