@margin: 15px;

.estilo(@margin: 0px, @padding: 0px, @color: white){
	margin:@margin;
	padding: @padding;
	background: @color;
}

.less{
	.estilo(@margin, 10px, green);
	height: auto;
	border: solid 1px black;
}