.jumbotron {
  background: #5AB4FF;
  margin-top: 41px; }

.card-mixin {
  background: #5AB4FF;
  height: 300px; }

.sass {
  margin: 15px;
  padding: 10px;
  background: red;
  height: auto;
  border: solid 1px black; }
