$color_principal: #5AB4FF;

$margin: 15px;

@mixin estilo($margin, $padding, $color){
	margin:$margin;
	padding: $padding;
	background: $color;
}

.jumbotron{
	background: $color_principal;
	margin-top: 41px;
}

.card-mixin {
	background: $color_principal;
	height: 300px;
}

.sass{
	@include estilo($margin, 10px, red);
	height: auto;
	border: solid 1px black;
}